{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
<script type="text/javascript">
function showHisLoading() {
    document.getElementById('historydiv').style.display = "block";
    document.getElementsByClassName('container').style.display = "none";
    document.history.submit();
    return true
}
function getStudies(){
    document.getElementById('studyload').style.display = "block";
    document.studies.submit();
}
function check_worfklow(workflow){
    // function GetSelectedTextValue(ddlFruits) {
    var selectedText = workflow.options[workflow.selectedIndex].innerHTML;
    var selectedValue = workflow.value;
    return selectedText;
}
</script>
{% endblock %}
{% block content %}
<div class="navbar-header">
    <div class="container">
        <div id="menu">
            <ul id="menubar">
                <li><a href="{% url 'index' %}" target="_self"><img src="{% static 'img/logo-erasmus.png' %}" alt="" class="img-thumbnail" width="81.5 height="31.8"></a></li>
                {% if storagetype == "SEEK" %}
                    <li><span class="menu-text" style="margin-left:10px"><a href="{% url 'seek' %}">Upload files to SEEK</a></span></li>
                {% else %}
                    <li><span class="menu-text" style="margin-left:10px"><a href="{% url 'triples' %}">Index your data</a></span></li>
                    <li><span class="menu-text"><a href="{% url 'delete' %}">Delete indexed data</a></span></li>
                {% endif %}
                <li><span class="menu-text"><a href="{% url 'logout' %}">Logout</a></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px">
    <span id="storage-type" hidden>{{ storagetype }}</span>
    <span class="info" style="float:left">
        Galaxy Server:
        {% if "http://" in server or "https://" in server %}
            <a href="{{server}}" target="_blank">{{server}}</a> <br />
        {% else %}
            {{server}} <br />
        {% endif %}
    Galaxy-User: {{user}} <br />
    </span>
    <span class="info" style="float:right">
        Storage Location:
        {% if "http://" in storage or "https://" in storage %}
            <a href="{{storage}}" target="_blank"><span id="storagename">{{storage}}</span></a> <br />
        {% else %}
            {{storage}} <br />
        {% endif %}
    Storage-User: <span id="user">{{username}}</span> <br />
    </span>
</div>
<div class="container">
    <div id="seek_investigations" hidden>{{investigations}}</div>
    <div id="seek_studies" hidden></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info" id="search-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Find Data</h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        {% if "seek" in storage or "127.0.0.1" in storage %}
                            <b>Investigation</b>
                        {% endif %}
                        <input type="text" class="form-control" name="isearch" id="isearch" list="isearchDataList" placeholder="Enter investigation name">
                        <datalist id="isearchDataList"></datalist>
                        {% if "seek" in storage or "127.0.0.1" in storage %}
                            <br>
                            <b>Study</b>
                        {% endif %}
                        <input style="display: none" type="text" class="form-control" name="ssearch" id="ssearch" list="ssearchDataList" placeholder="Enter study name">
                        {% if "seek" in storage or "127.0.0.1" in storage %}
                            <br>
                            <b>Assay</b>
                        {% endif %}
                        <input style="display: none" type="text" class="form-control" name="asearch" id="asearch" list="asearchDataList" placeholder="Enter assay name">
                        <datalist id="ssearchDataList"></datalist>
                        <datalist id="asearchDataList"></datalist>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-info" id="search-result-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Find Results</h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <input type="text" class="form-control" name="search-result" id="search-result" list="resultDataList" placeholder="Enter study name or investigation name">
                        <datalist id="resultDataList"></datalist>
                    </fieldset>
                </div>
            </div>
            <div class="panel-footer panel-info">
                <div>
                    <span style="width:25%; visibility:hidden; float:left">.</span>
                    <button type="button" class="btn btn-process btn-lg btn-block has-spinner" id="process" onclick="sparqlQuery()" style="width:50%; float:left">
                        Search <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                    </button>
                    <span style="width:25%; visibility:hidden; float:left">.</span>
                </div>
            </div>
            <div class="alert alert-danger fade in" id="errorPanel">
            </div>
            <div class="alert alert-info fade in" id="infoPanel">
            </div>
            <div class="panel panel-info" id="results">
                <div class="panel-heading">
                    <h3 class="panel-title">Search results</h3>
                </div>
                <div class="panel-body">
                    <div id="workflow_select">
                        <p>Select a workflow from the dropdown menu</p>
                        <select id="workflow" name="workflow" class="select-workflow" onchange="check_worfklow(this);">
                            <optgroup label="Workflows">
                                <option value="0">Use Galaxy</option>
                            {% for workflow in workflows %}
                                <option value="{{ workflow.id }}">{{ workflow.name }}</option>
                            {% endfor %}
                            </optgroup>
                        </select>
                        <br />
                        <br />
                        <input type="checkbox" value="true" name="sendmeta" id="sendmeta" /><label for="sendmeta">Send metadata file?</label>
                        <br />
                        <input type="checkbox" value="true" name="col" id="col" /><label for="col">Make collection</label>
                    </div>
                    <br />
                    <br />
                    <div class="alert alert-info fade in" id="noResultPanel">
                        <p><strong> No result :</strong> Sorry no result available for these query parameters</p>
                    </div>
                    <table class="table table-striped" id="results_table">
                    </table>
                    <br />
                    <div id="galaxy"></div>
                    <br />
                    <div id="loading" style="display:none" align="center">
                        <img id="loadingImage" src="{% static 'img/loading.gif' %}" width="25%" height="25%">
                        <br />
                        <p>Please wait...This can take several minutes.</p>
                    </div>
                    <div id="finished" style="display:none" align="center">
                        <a href="{{ server }}" target="_blank">
                            <img id="checkImage" src="{% static 'img/check.png' %}" width="125" height="125">
                        </a>
                    </div>
                    <div id="error" style="display:none" align="center">
                        <img id="errorImage" src="{% static 'img/error.png' %}" width="125" height="125">
                        <br />
                        <p id="errormessage">
                            Oops...wait a few seconds or reload the page to try again.
                        </p>
                    </div>
                    <div id="show_results" style="display: none;">
                        <button id="index_buttons" onclick="getoutput()">Show results</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
{% block contentwork %}
<br />
<br />
{% if storagetype != "SEEK" %}
<div class="container" id="storeownloud">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header text-center">
                    <b style="font-size: 14pt;">Store history in Owncloud</b>
                </div>
                <div id="select" style="display: block;">
                    <form action="" method="post" name="studies">                    
                        <input type="hidden" name="api" id="api" value={{api}}>
                        <input type="hidden" name="username" id="username" value={{username}}>
                        <input type="hidden" name="password" id="password" value={{password}}>
                        <input type="hidden" name="storage" id="storage" value={{storage}}>
                        <input type="hidden" name="server" id="server" value={{server}}>
                        <input type="hidden" name="galaxyemail" id="galaxyemail" value={{galaxyemail}}>
                        <input type="hidden" name="galaxypass" id="galaxypass" value={{galaxypass}}>
                        <table class="table">
                            <tr>
                                <td>
                                    <p>Select an investigation and click Get Studies.</p>
                                    <select id="inv" name="inv" class="select-workflow">
                                        <optgroup label="Investigations">
                                            <option id="si" disabled selected value="{{ inv }}">{{ inv }}</option>
                                                <option value="" disabled selected>Select your investigation</option>
                                            {%for investigation in investigations %}
                                                <option value="{{ investigation }}">{{ investigation }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <!-- <button id="index_buttons" style="width: 100%;" onclick="document.studies.submit()">Get studies</button> -->
                                    <button id="index_buttons" style="width: 100%;" onclick="getStudies()">Get studies</button>
                                </td>
                            </tr>
                        </form>
                            {% if studies %}
                            <tr>
                            <form action="history" method="post" name="history">
                                    <input type="hidden" name="api" id="api" value={{api}}>
                                    <input type="hidden" name="username" id="username" value={{username}}>
                                    <input type="hidden" name="password" id="password" value={{password}}>
                                    <input type="hidden" name="storage" id="storage" value={{storage}}>
                                    <input type="hidden" name="server" id="server" value={{server}}>
                                    <input type="hidden" name="inv" id="inv" value={{inv}}>
                                <td style="width: 100%">
                                    <p>Select a study</p>
                                    <select id="folder" name="folder" class="select-workflow">
                                        <optgroup label="Studies">
                                            <option value="" disabled selected>Select your study</option>
                                            {%for study in studies %}
                                            <option value="{{ study }}">{{ study }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td>
                                    <div id="studyload" style="display: none">
                                        <img id="loadstudy" src="{% static 'img/wait.gif' %}" width="10%" height="10%">
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>Select the history you want to send to ownCloud.</p>
                                    <select id="history" name="history" class="select-workflow">
                                        <optgroup label="Histories">
                                            {%for history in histories %}
                                            <option value="{{ history.id }}">{{ history.name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button id="index_buttons" style="width: 100%" onclick="showHisLoading()">Send history to Owncloud</button>
                                </td>
                            </tr>
                                </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="historydiv" name="historydiv" style="text-align: center; display: none;">
        <img id="loadingImage" src="{% static 'img/loading.gif' %}" width="25%" height="25%">
    </div>
{% endif %}
{% endblock %}
<br />
<div id="footer">
    <div class="container">
        <br />
        <br />
        <p class="muted credit">
        </p>
    </div>
</div>
{% endblock %}