{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="navbar-header">
    <div class="container">
        <div id="menu">
            <ul id="menubar">
                <li><a href="{% url 'index' %}" target="_self"><img src="{% static 'img/logo-erasmus.png' %}" alt="" class="img-thumbnail" width="81.5 height="31.8"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container" style="margin-top:100px"></div>
<div id="login">
    <h3 style="text-align:center;">myFAIR @ EMC login</h3>
    You need to log in to use this application. <br />
    Please log in with your Galaxy API Key and owncloud credentials.<br />
    You can find your API Key by login in to the Galaxy server and click User, <br />
    then click API Keys. Here you will find your current API Key.<br />
    <br />
    <p style="color:red">
        {{ error }}
    </p>
    <form action="{% url 'index' %}" method="post">
        <table id="table-login">
            <span style="color:red">*</span> = required fields
            <tr>
                <td>Galaxy Server:<span style="color:red">*</span></td>
                <td><input type="text" name="server" id="server" placeholder="Enter galaxy server" required></td>
            </tr>
            <tr>
                <td>Galaxy email:<span style="color:red">*</span></td>
                <td><input type="text" name="galaxyemail" id="galaxyemail" placeholder="Enter your Galaxy email" required></td>
            </tr>
            <tr>
                <td>Galaxy Password:<span style="color:red">*</span></td>
                <td><input type="password" name="galaxypass" id="galaxypass" placeholder="Enter your Galaxy password" required></td>
            </tr>
            <tr>
                <td>Storage URL:<span style="color:red">*</span></td>
                <td>
                    <input type="text" name="storage" id="storage" placeholder="i.e. seek.erasmusmc.nl" required>
                </td>
            </tr>
            <tr>
                <td>
                    Select the storagetype (SEEK server or NextCloud):
                </td>
                <td>
                    <fieldset id="storagetype">
                        <input type="radio" value="SEEK" id="typeseek" name="storagetype" checked>
                        <label for="typeseek"> SEEK</label>
                        <br>
                        <input type="radio" value="NextCloud" id="typenextcloud" name="storagetype">
                        <label for="typenextcloud"> NextCloud</label>
                    </fieldset>
                </td>
                
            </tr>
            <tr>
                <td>Username:<span style="color:red">*</span></td>
                <td><input type="text" name="username" id="username" placeholder="Enter your username" required></td>
            </tr>
            <tr>
                <td>Password:<span style="color:red">*</span></td>
                <td><input type="password" name="password" id="password" placeholder="Enter your password" required></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="checkbox" name="no-expire" id="no-expire" value="yes">
                    <label for="no-expire">Stay logged in</label>
                    <br />
                    <br />
                    <input id="index_buttons" type="submit" value="Log in to myFAIR analysis @ EMC" style="margin-left:25px">
                </td>
        </table>
    </form>
</div>
{% endblock %}