{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
<link href="{% static 'css/output.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<script>
    function refresh () {
        window.location.href = "";
    }
    window.onload = function(){
        setTimeout(refresh, 10000);
    }
</script>
<div id="wrapper">
    History results are stored in Owncloud/B2DROP. Please use the search option to see results. <br />
    You will be send to the homeplage...Please wait.
</div>
{% endblock %}