{% extends "base.html" %}
{% block content %}
<p>
    Select the turtle file that contains the metadata and upload this to eudat.
</p>
<form action="{% url 'upload' %}" method="post" name="eudat" id="eudat">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" name="username" id="username">
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="password" id="password">
            </td>
        </tr>
        <tr>
            <td>
                Select turtle file:
            </td>
            <td>
                <input type="file" name="tfile" id="tfile" value="Browse file">
            </td>
        </tr>
        <tr>
            <td>
                Select data file:
            </td>
            <td>
                <input type="file" name="dfile" id="dfile" value="Browse file">
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" name="/">
            </td>
            <td>
                <input type="submit" value="Send file to eudat">
            </td>
        </tr>
    </table>
</form>
{% endblock %}